In [12]:
import pandas as pd
from io import StringIO

a = StringIO("""
cat,target
A,0
A,1
B,0
A,1
B,0
B,1
B,0
""")

df = pd.read_csv(a)

def expanded_mean_encoding(col):
    cumsum = df.groupby(col)['target'].cumsum() - df['target']
    cumcnt = df.groupby(col)['target'].cumcount()
    df[col + '_expanded_mean'] = cumsum / cumcnt
    df[col + '_expanded_mean'].fillna(0, inplace=True)
    
expanded_mean_encoding('cat')

df

  cat  target  cat_expanded_mean
0   A       0           0.000000
1   A       1           0.000000
2   B       0           0.000000
3   A       1           0.500000
4   B       0           0.000000
5   B       1           0.000000
6   B       0           0.333333